body {
    background-color: #1f463d;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-container {
        display: block;
        text-align: center;
    }
}

.board {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 450px;
    height: 450px;
    border: 1px solid #ffffff;

    .cell {
        background-color: #488677;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4em;

        border: 2px solid #ffffff;
    }
}

.message {
    font-size: 2em;
    padding: 1em;
}